<h2 class="top_title">ようこそ<span>Bookers</span> へ！</h2>

<div class="top_body">
<p><span>Bookers</span>では、さまざまな書籍に関するあなたの意見や</p>
<br>
<p>印象を共有し交換することができます</p>
<br>
<%= link_to "start", books_path %>

</div>